@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap)');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient( red, yellow);
    background-size: cover;
    background-position: center;
}

.topbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 40px;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 500;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.topbar a{
    text-decoration: none;
    color: #777;
    font-weight: 500px;
}
.container{
    position: relative;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    z-index: 10;
    border-top: 1px solid solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid solid rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 30px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
}

.container h2{
    position: relative;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

section{
    position: relative;
    display: flex;
    width: 600px;
    padding: 10px;
    border-bottom: 1px solid;
    justify-content: center;
    align-items: center;
}
.container .dropdown{
    position: relative;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.container .dropdown .content{
    position: relative;
    width: 100%;
}
.container .dropdown .content select{
    position: relative;
    width: 100%;
}

#result{
    display: none;
}

.result{
    position: relative;
    display: block;
}
.result .content{
    display: flex;
    justify-content: space-between;
    color: #333;
    width: 100%;
}
.result .content .sun{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.result .content .sun .icon{
    display: flex;
    padding: 0;
    font-size: 50px;
}
@-webkit-keyframes rotating{
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
.fa-sun-o{
    -webkit-animation: rotating 10s linear infinite;
    color: #FF9F01;
}
.result .content .sun .icon .fa-arrow-up{
    padding: 0;
    font-size: 35px;
    background: -webkit-linear-gradient(#E96D0E, #E2B11A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.result .content .sun .icon .fa-arrow-down{
    padding: 0;
    font-size: 35px;
    background: -webkit-linear-gradient(#3055B2, #001344);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.result .content .sun .result-data{
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    color: #fff;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;

}
.result .result-city{
    display: flex;
    position: relative;
    height: 20px;
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #333;
    justify-content: center;
    align-items: center;
}

.credit{
    position: absolute;
    background-color: white;
    padding: 5px;
    left: 2%;
    top: 95%;
    font-size: 12px;
    font-weight: 600;
}

@media(max-width: 500px){
    section{
        width: 95%;
    }
    .result .content{
        flex-direction: column;
    }
}
